#Header{

    position: relative;
    margin: 0 0 20px 0;
    padding: 0;
    height:$HeaderHeight;


    @import "./BackgroundImageContainer";

   .FlexHeader{
        height:$HeaderHeight;
        position: relative;
        @include FlexBoxBasic( $direction:column ,$justify:space-between);
        //TopBanner
        @import "./Sponsor_Top";

        // Main Titles
        @import "./MainTitle";
        
        @media only screen and  (max-width : 576px) { height:$headerHeightSmall;  }
          
          background: rgba(0,0,0,0);
          background: -moz-linear-gradient(0deg, rgba(0,0,0,0.8) 0%, rgba(255,255,255,0) 65%);
          background: -webkit-linear-gradient(0deg, rgba(0,0,0,0.8) 0%, rgba(255,255,255,0) 65%);
          background: linear-gradient(0deg, rgba(0,0,0,0.8) 0%, rgba(255,255,255,0) 65%);
          filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#ffffff",GradientType=1);
   }
  
   @media only screen and  (max-width : 576px) { height:$headerHeightSmall;  }
}